{% extends 'base.html' %} {% load static %}
<html>

<head>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->

    <style>

    .hidden{
      display: none;
    }
    </style>
</head>

<body >
    {%block body%}
    <br>

    <center>
          
        <div class='container' id='form_top'>
             
            <form method='post' enctype="multipart/form-data" autocomplete="off">
                {% csrf_token %}
                <p>Email: {{form.op_email}}</p>
                <p>Title: {{form.post_title}}</p>
                <p id='thread_text' style=' margin-bottom: 0.1%;'> {{form.post_body}}</p>
                <b style='  
                font-size: 64%;
            '>[sp]spoiler[/sp] [b]bold text[/b] [u]underline[/u] [i]cursive[/i]</b><br>
                {% if user.is_authenticated %} <input type='checkbox' name='is_mode' id='mode'><label for='mode'>Add moderator label</label> {% endif %}
                
                <p>{{form.image}}</p>
                <button class='btn btn-primary' id='sbmt' type='submit' value='post_thread' name='post_thread'>Submit</button>
                <input class="key" name='password' id='pass' type="text" autocomplete="off" />
                
            </form>
    </center>

    </div>
    {%load thumbnail%}
    
    <form method=post>
        <input type='hidden' name='password' id='pass2' type='text'/>
    {%for thread in q2 %}
    <div class='thread'style='margin-left: 1%;
    margin-right: 1%;
    clear: both; margain-top: 150;
    overflow: hidden;'>
    <div class='constainer' style='
            clear: both; margain-right: 550;
    margin-bottom: 0.4%; disaplay: inline-flex;
            '><div class='post' style='display:block;'>
        <div class='thread_title' style='     padding: 0.3%;
z-index:-1;
            background-color: #ACD7DE;margin-bottom: 0.8%;
            
'><input type='checkbox' name='rep_choice' value='{{thread.id}}'>{%if thread.post_title %} <span class='title'>{{thread.post_title}}</span> {% endif %}{%if thread.is_mode%}<span style='color:#65CC2D;font-weight: bold;'> ☘️Moderator</span> {%else%} {%if thread.email%}
            <a href='mailto:{{thread.email}}'>Anonymouos</a> {%else%}
            <span class='name'> Anonymous</span> {%endif%} {%endif%}{%if user.is_authenticated%}<span class='userIP' style='color:red;'>IP: {{thread.ip_address}}</span>{%endif%}
            <span class='date'> {{thread.date}} </span>
            <span class='post_number'> post number: <a href='#' class='a_id' id='{{thread.id}}'>{{thread.id}}</a></span><span><a href='{% url "obiadekchan:thread" thread.id %}'> [Reply]</a></span></div>

        {%if thread.image%} {%if thread.extension%} <div class='answer_img'>
            <div class='file_info' style='margin-top:-0.6%; margin-left:1%;font-size:88%;margin-bottom:0.1%;'>
        <span class='img_info'><a href='{{thread.image.url}}'style='color:grey;'>Img</a>: ({{thread.image.width}}x{{thread.image.height}},  {{thread.rep_reason}})</span>
    </div>
    <div class='file'>
        <a href='{{thread.image.url}}'>
        <img src='{{thread.image.url}}' target="_blank" style='    float: left;
         margin-left: 1%;
    margin-right: 1%;
    margin-top: 3px; max-width:240px;max-height:340px;
           margin-bottom: 0;
           posiation: relative; display: flex; 
       '/> </a></div></div>
       {%else%}
       {%thumbnail thread.image "240" as im %}
        <div class='answer_img'>
            <div class='file_info' style='margin-top:-0.6%; margin-left:1%;font-size:88%;margin-bottom:0.1%;'>
        <span class='img_info'><a href='{{thread.image.url}}'style='color:grey;'>Img</a>: ({{im.width}}x{{im.height}},  {{thread.rep_reason}})</span>
    </div>
    <div class='file'>
        <a href='{{thread.image.url}}' target="_blank" style='    float: left;
         margin-left: 1%;
    margin-right: 1%;
    margin-top: 3px;
           margin-bottom: 0;
           posiation: relative; display: flex; 
       '><img src='{{im.url}}' /></a></div></div>
        {%endthumbnail%} {%endif%}{%endif%}
        <pre id='{{thread.id}}' style='display: block;    white-space: pre-line;  
           margin-block-start: 1em;
           margin-block-end: 1em;
           margin-inline-start: 15px;max-width:150ch;
           margin-inline-end: 15px;overflow-wrap: break-word; font-family: Verdana, "Bitstream Vera Sans", Geneva, sans-serif !important; '>{{thread.post_body}}</pre>
           <div class='mentions' style='font-size: .8em!important;
           padding: 0;
           paddiang-left: 3%;
           display: table; 'id='{{thread.id}}'> </div>
               {%if thread.hidden%}   <span style='  font-size:87%; color:#67B0B6;'>{{thread.hidden}} posts omitted  <a href='{% url "obiadekchan:thread" thread.id %}'>[Show more]</a>{%endif%}
                  </span>
        </div>
      
    </div>
   



    {%for answer in thread.answers %}
    <div class='constainer' style='    display: inline-flex; boarder:solid; border-radius: 5px; baorder-color: darkgoldenrod; background: #ACD7DE;
             margin-bottom:0.4%; max-width: 50%;
    margin-left: 1%;'><div classs='post' style='padding: 5px;
    display: inline-block;
  ;'>
        <div class='answer_title'><input type='checkbox' name='rep_choice' value='{{answer.id}}'></input>{%if answer.post_title %}<span class='title'> {{answer.post_title}}</span> {% endif %}{%if z.is_mode%}
            <span style='color:#65CC2D;font-weight: bold;'> ☘️Moderator</span> 
            {%else%}  {%if answer.email%}
            <a href='mailto:{{answer.email}}'>Anonymous</a> {%else%}
            <span class='name'> Anonymous</span> {%endif%}{%endif%}{%if answer.is_op%}<span style='color:darkred;font-weight: bold;'>(OP)</span>{%endif%}{%if user.is_authenticated%}<span class='userIP' style='color:red;'>IP: {{thread.ip_address}}</span>{%endif%}
            <span class='date'> {{answer.date}} </span>
            <span class='post_number'> post number: <a href='#' class='an_id' id='{{answer.id}}'>{{answer.id}}</a> </span></div>
        {%if answer.image%}
        {%if answer.extension%} <div class='answer_img'>
            <div class='file_info' style='margin-top:-0.6%; margin-left:1%;font-size:88%;margin-bottom:0.1%;'>
        <span class='img_info'><a href='{{answer.image.url}}'style='color:grey;'>Img</a>: ({{answer.image.width}}x{{answer.image.height}},  {{answer.rep_reason}})</span>
    </div>
    <div class='file'>
        <a href='{{answer.image.url}}'target="_blank" >
        <img src='{{answer.image.url}}' style='    float: left;
         margin-left: 1%;
    margin-right: 1%;
    margin-top: 3px; max-width:240px;max-height:340px;
           margin-bottom: 0;
           posiation: relative; display: flex; 
       '/> </a></div></div>
       {%else%}
         {%thumbnail answer.image "240" as ima %}
        <div class='answer_img'>
            
            <div class='file_info' style='margin-top:-0.6%; margin-left:1%;font-size:88%;margin-bottom:0.1%;'>
                <span class='img_info'><a href='{{answer.image.url}}'style='color:grey;'>Img</a>: ({{ima.width}}x{{ima.height}},  {{answer.rep_reason}})</span>
            </div>
            <div class='file'>
            <a href='{{answer.image.url}}' target="_blank" style='    float: left;
          margin: 2%;
   
    
           posiation: relative; display: flex; 
        '><img src='{{ima.url}}' /></a>
        </div></div>
        {%endthumbnail%} {%endif%}{%endif%}
        <div class='p_body'><pre id='{{answer.id}}' style='margin-block-start: 1em;
                    margin-block-end: 1em;     white-space: pre-wrap;  
                    margin-inline-start: 15px;padding-left: 3%;max-width:150ch;
                    margin-inline-end: 15px; overflow-wrap: break-word;font-family: Verdana, "Bitstream Vera Sans", Geneva, sans-serif !important;
                    '>{{answer.post_body}}</pre></div>
                    <div class='mentions' style='font-size: .8em!important;
                    padding: 0;
                    padding-left: 3%;
                    display: table; 'id='{{answer.id}}'> </div>

   

    </div>
</div>

    <br>
  
    {%endfor%} </div> <hr style='border:black;border-width:0.3px;border-style:solid;'>{%endfor%}
<br><br>

    <button type='button' style='float:right;    margin-top: 100;' data-toggle="modal" data-target='#t_banResModal'>
        Submit report</button>
        <button type='submit' style='float:right;    margin-top: 100;' name='delete_posts'>
                Delete posts</button>

    <!-- Modal -->
    <div class="modal fade" id="t_banResModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Reason</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {%csrf_token%}
                        <p>Reason:
                            <input class="u-full-width" type="text" name="r_reason" style='border-radius:0px' />
                        </p>
                        <button type="submit" class="btn btn-primary" name='report_post' >Report</button>
                    

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>


</form>

    <div class='container' style=' margin-top: 100;'>
        <div class="pagination">
            <span class="step-links">
                    {% if q2.has_previous %}
                        <a href="?page=1">&laquo; first</a>
                        <a href="?page={{ q2.previous_page_number }}">previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ q2.number }} of {{ q2.paginator.num_pages }}.
                    </span> {% if q2.has_next %}
            <a href="?page={{ q2.next_page_number }}">next</a>
            <a href="?page={{ q2.paginator.num_pages }}">last &raquo;</a> {% endif %}
            </span>
        </div>
    </div>
  {%endblock%}
</body>

</html>