{% load static %}
<html>
        <head>
                <meta charset="utf-8">
                <meta http-equiv="X-UA-Compatible" content="IE=edge">
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
                <meta name="description" content="">
                <meta name="author" content="">
                <link rel="icon" href="../../favicon.ico">
                <link rel="canonical" href="https://getbootstrap.com/docs/3.4/examples/navbar-fixed-top/">
            <link rel="stylesheet" href="{% static 'css/styles.css' %}">
             <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

             <script src="//cdnjs.cloudflare.com/ajax/libs/x-editabl°ne/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>

            <title>Login</title>
            </head>
<body>
<form class="form-horizontal" role="form"  method="post" enctype="multipart/form-data">

    {% csrf_token %}<container>
        <input class="u-full-width" rows="3" type="text" name="username" style='border-radius:5px;border-style:solid;border-color:cornflowerblue;'/><br>
    </container>        <input class="u-full-width" rows="3" type="password" name="password"style='border-radius:5px;border-style:solid;border-color: cornflowerblue;'/>
<br>ujkkkkkkkkkkkkkk
           <button type="submit" value='post' class="btn btn-info">Submit</button>

     </form></div>
</div>
    </body>kkkkkkkkkkkkk
    </html>kkkkkkkkkkkkkk, kjjjjjnm0kkmoonj0,888888888888888