{% extends 'base.html' %}
{% load static %}

<html>
        <head>
     
        </head>
        <body>
{%block body%}
            <center>
            <div class='container'>

            <form method='post' enctype="multipart/form-data">
                {% csrf_token %}
               <p>Email: {{form.op_email}}</p> <p>Title: {{form.post_title}}</p><p id='thread_text'>{{form.post_body}}</p><p>{{form.image}}</p>
                    <button class='btn btn-primary' type='submit'>Submit</button>
                </form>
            </div></center>


            {%load thumbnail%}
            <div class='thread'style='margin-left: 30px;
    margin-right: 30px;
    clear: both; margain-top: 150;
    overflow: hidden;'>
    <div class='constainer' style='margin-left: 30px;
            maragin-right: 30px;
            clear: both;margin-right: 550;
    margin-bottom: 30;
            '><div class='post' style='display:block;'>
        <div class='thread_title' style='    padding: 5px;
            background-color: #ACD7DE; margin-bottom:10px;
            width: 10000;    display: block;
    position: relative; maargin-top:10a0;
'><input type='radio' name='rep_choice' value='{{post.id}}'></input>{%if post.post_title %} <span class='title'>{{post.post_title}}</span> {% endif %} {%if post.email%}
            <a href='mailto:{{thread.email}}'>Anonymouos</a> {%else%}
            <span class='name'> Anonymous</span> {%endif%}
            <span class='date'> {{post.date}} </span>
            <span class='post_number'> post number: <a href='#'>{{post.id}}</a> </span><span>  <a href='{% url "obiadekchan:thread" post.id %}'>[Reply]</a></span></div>

        {%if post.image%} {%thumbnail post.image "240" as im %}
        <a href='{{thread.image.url}}' target="_blank" style='    float: left;
           margin-left: 20px;
           margin-right: 20px;
           margin-top: 3px;
           margin-bottom: 0;
           position: relative; display: block; margin-bottom: 20;
       '><img src='{{im.url}}' /></a>
        {%endthumbnail%} {%endif%}
        <pre style='display: block;    white-space: pre-wrap;  
           margin-block-start: 1em;
           margin-block-end: 1em;
           margin-inline-start: 40px;
           margin-inline-end: 40px;overflow-wrap: break-word; font-family: Verdana, "Bitstream Vera Sans", Geneva, sans-serif !important; '>{{post.post_body}}</pre>
            
        </div>
        <a href='{% url "obiadekchan:thread" post.id %}'>Show more</a>

    </div>
   



    {%for answer in post.replies.all %}
    <div class='constainer' style='    display: block; boarder:solid; border-radius: 5px; baorder-color: darkgoldenrod; background: #ACD7DE;
            max-width: 100ch;margin-right: 550;
    margin-left: 360;'><div classs='post' style='padding: 5px;
    display: inline-block;
    margin-right: 10px;
    margin-left: 22px;'>
                        <div class='answer_title'>{%if answer.post_title %} <span class='title'>{{answer.post_title}}</span> {% endif %}<input type='radio' name='a_rep_choice' value='{{answer.id}}'></input> {%if answer.email%}
            <a href='mailto:{{answer.email}}'>Anonymous</a> {%else%}
            <span class='name'> Anonymous</span> {%endif%}
            <span class='date'> {{answer.date}} </span>
            <span class='post_number'> post number: <a href='#'>{{answer.id}}</a> </span></div>
        {%if answer.image%} {%thumbnail answer.image "240" as ima %}
        <div class='answer_img'>
            <a href='{{answer.image.url}}' target="_blank" style='    float: left;
            margin-left: 20px;
            margin-right: 20px;
            margin-top: 3px;
            margin-bottom: 0;
            position: relative; display: block;
        '><img src='{{ima.url}}' /></a>
        </div>
        {%endthumbnail%} {%endif%}
        <div class='p_body'><pre style='margin-block-start: 1em;
                    margin-block-end: 1em;     white-space: pre-wrap;  
                    margin-inline-start: 40px;
                    margin-inline-end: 40px; overflow-wrap: break-word;font-family: Verdana, "Bitstream Vera Sans", Geneva, sans-serif !important;
                    '>{{answer.post_body}}</pre></div>

   

    </div>
</div>

    <br>
  
    {%endfor%} </div>

            {%endblock%}

        </body>
        </html>
