{% extends 'base.html' %}
{% load static %}

<html>
        <head>
     
        </head>
        <body>
{%block body%}
            <center>
            <div class='container'>

            <form method='post' enctype="multipart/form-data">
                {% csrf_token %}
               <p>Email: {{form.op_email}}</p> <p>Title: {{form.post_title}}</p><p id='threadd_text'>{{form.post_body}}</p>
               {% if user.is_authenticated %} <input type='checkbox' name='is_mode' id='mode'><label for='mode'>Add moderator label</label> {% endif %}
               <input type='checkbox' name='is_op' id='op'><label for='op'>OP</label> 
               <p>{{form.image}}</p>
                    <button class='btn btn-primary' id='sbmt' name='post_reply' type='submit'>Submit</button>
                    <input class="key" name='password' id='pass' type="text" autocomplete="off" />

                </form>
            </div></center>
            {%load thumbnail%}
  
            <form method=post>
                    <input type='hidden' name='password' id='pass2' type='text'/>
                    <div class='thread'style='margin-left: 1%;
                    margin-right: 1%;
                    clear: both; margain-top: 150;
                    overflow: hidden;'>
                    <div class='constainer' style='
                            clear: both; margain-right: 550;
                    margin-bottom: 0.4%; disaplay: inline-flex;
                            '><div class='post' style='display:block;'>
                        <div class='thread_title' style='     padding: 0.3%;
                
                            background-color: #ACD7DE;margin-bottom: 0.8%;
                            
                '><input type='checkbox' name='rep_choice' value='{{post.id}}'>{%if post.post_title %} <span class='title'>{{post.post_title}}</span> {% endif %}{%if post.is_mode%}<span style='color:#65CC2D;font-weight: bold;'> ☘️Moderator</span> {%else%} {%if post.email%}
                            <a href='mailto:{{post.email}}'>Anonymouos</a> {%else%}
                            <span class='name'> Anonymous</span> {%endif%} {%endif%}
                            <span class='date'> {{post.date}} </span>
                            <span class='post_number'> post number: <a href='#'>{{post.id}}</a> </span></div>
                
                        {%if post.image%} {%thumbnail post.image "240" as im %}
                        <div class='imp'>
                        <div class='file_info' style='margin-top:-0.6%; margin-left:1%;font-size:88%;margin-bottom:0.1%;'>
                            <span class='img_info'><a href='{{post.image.url}}'style='color:grey;'>Img</a>: ({{im.width}}x{{im.height}},  {{post.rep_reason}})</span>
                        </div>
                        <div class='file'>
                        <a href='{{post.image.url}}' target="_blank" style='    float: left;
                         margin-left: 1%;
                    margin-right: 1%;
                    margin-top: 3px;
                           margin-bottom: 0;
                           posiation: relative; display: flex; 
                       '><img src='{{im.url}}' /></a></div></div>
                        {%endthumbnail%} {%endif%}
                        <pre style='display: block;    white-space: pre-wrap;  
                           margin-block-start: 1em;
                           margin-block-end: 1em;
                           margin-inline-start: 15px;
                           margin-inline-end: 15px;overflow-wrap: break-word; font-family: Verdana, "Bitstream Vera Sans", Geneva, sans-serif !important; '>{{post.post_body}}</pre>
                                   
                
                        </div>  <div class='mentions' style='font-size: .8em!important;
                        padding: 0;
                        paddiang-left: 3%;
                        display: table; 'id='{{post.id}}'> </div>
            
    
                    </div>
                   
                



    {%for answer in post.replies.all %}
    <div class='constainer' style='    display: inline-flex; boarder:solid; border-radius: 5px; baorder-color: darkgoldenrod; background: #ACD7DE;
    max-width: 50%; margin-bottom:0.4%;
margin-left: 1%;'><div classs='post' style='padding: 5px;
display: inline-block;
;'>
<div class='answer_title'><input type='checkbox' name='rep_choice' value='{{answer.id}}'></input>{%if answer.post_title %}<span class='title'> {{answer.post_title}}</span> {% endif %}{%if z.is_mode%}
    <span style='color:#65CC2D;font-weight: bold;'> ☘️Moderator</span> 
    {%else%}  {%if answer.email%}
    <a href='mailto:{{answer.email}}'>Anonymous</a> {%else%}
    <span class='name'> Anonymous</span> {%endif%}{%endif%}{%if answer.is_op%}<span style='color:darkred;font-weight: bold;'>(OP)</span>{%endif%}
    <span class='date'> {{answer.date}} </span>
    <span class='post_number'> post number: <a href='#'>{{answer.id}}</a> </span></div>
{%if answer.image%} {%thumbnail answer.image "240" as ima %}
<div class='answer_img'>
            
    <div class='file_info' style='margin-top:-0.6%; margin-left:1%;font-size:88%;margin-bottom:0.1%;'>
        <span class='img_info'><a href='{{answer.image.url}}'style='color:grey;'>Img</a>: ({{ima.width}}x{{ima.height}},  {{answer.rep_reason}})</span>
    </div>
    <div class='file'>
    <a href='{{answer.image.url}}' target="_blank" style='    float: left;
  margin: 2%;


   posiation: relative; display: flex; 
'><img src='{{ima.url}}' /></a>
</div></div>
{%endthumbnail%} {%endif%}
<div class='p_body'><pre style='margin-block-start: 1em;
            margin-block-end: 1em;     white-space: pre-wrap;  
            margin-inline-start: 40px;padding-left: 3%;
            margin-inline-end: 40px; overflow-wrap: break-word;font-family: Verdana, "Bitstream Vera Sans", Geneva, sans-serif !important;
            '>{{answer.post_body}}</pre></div>
            <div class='mentions' style='font-size: .8em!important;
            padding: 0;
            padding-left: 3%;
            display: table; 'id='{{answer.id}}'> </div>


</div>
</div>

<br>
    {%endfor%} </div>
    
<br><br>
<button type='button' style='float:right;    margin-top: 100;' data-toggle="modal" data-target='#t_banResModal'>
    Submit report</button>
       <button type='submit' style='float:right;    margin-top: 100;' name='delete_posts'>
                Delete posts</button>
<!-- Modal -->
<div class="modal fade" id="t_banResModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Reason</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {%csrf_token%}
                    <p>Reason:
                        <input class="u-full-width" type="text" name="r_reason" style='border-radius:0px' />
                    </p>
                    <button type="submit" class="btn btn-primary" name='report_post' >Report</button>
                

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>


</form>

            {%endblock%}

        </body>
        </html>
