{% load static %}
{%load obiadekchan_extras%}
<html>
        <head>
                <meta charset="utf-8">
                <meta http-equiv="X-UA-Compatible" content="IE=edge">
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
                <meta name="description" content="">
                <meta name="author" content="">
                <link rel="icon" href="https://i.imgur.com/Tv3Uxj9.png">
            <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> 
            {%block head%}
            <title>Obiadekchan</title>
            <!-- kolorki na zapas #C4D5DD #CFCFCF #DADADA ->#C4D5DD #BBCAD1 #BBC6D1  #9FB6C1 #9FB6C1-->
            {%endblock%}
            <style>
              
              div.post_hidden- {
   display: none;
   position: absolute;
   width: 280px;
   padding: 10px;
   background: #eeeeee;
   color: #000000;
   border: 1px solid #1a1a1a;
   font-size: 90%;
 }

                    body {margin:0;
                      backgrounda-color:#DADADA;
                    }
                    
                    ul {
                      list-style-type: none;
                      margin: 0;
                      padding: 0;
                      overflow: hidden;
                      background-color: #333;
                      position: fixed;
                      top: 0;
                      width: 100%;
                    }
                    
                    li {
                      float: left;
                    }
                    
                    li a {
                      display: block;
                      color: white;
                      text-align: center;
                      padding: 5px 8px;
                      text-decoration: none;
                    }
                    
                    li a:hover:not(.active) {
                      background-color: #111;
                    }
                    
                    .active {
                      background-color: #4CAF50;
                    }
                    </style>
                      <script type="text/javascript" src='http://cdnjs.cloudflare.com/ajax/libs/qtip2/3.0.3/jquery.qtip.min.js'></script>

                    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
                    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
                    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
                    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>        </head>
        <body>
                <ul class='nav' style='z-index:1;'>
                        <li><a href="{% url 'obiadekchan:index' %} ">/b/</a></li>
                        <li><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#settingsModal">
                            Settings
                          </button></li>
                      </ul>
                      <br><br><br>
                      <div class='container'>
                        <center> 
                          {% with "baner.png,baner1.gif,baner2.gif,baner3.jpg,baner4.png"|split:","|random as image %}
                       <img src='{%static image %}' />
                        <h2>/b/ - random</h2>
                        {% endwith %}
                      </center>
                      </div>
                      <br>
                {%block body%}
                {%endblock%}
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<div class="modal fade" id="settingsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Settings</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="w3-container">
               
                <div class="w3-bar w3-black">
                  <button class="w3-bar-item w3-button tablink w3-cyan" onclick="openTab(event,'settings')">Site settings</button>
                  <button class="w3-bar-item w3-button tablink" onclick="openTab(event,'theme')">Theme settings</button>
                </div>
                
                <div id="settings" class="w3-container w3-border settingstab">
                  <h2>Site settings</h2>
                  <span>Move form to the bottom: 
                      <select id='form_bot'>
                        <option id='fopt0' selected>No</option>
                        <option id="fopt1">Yes</option>
                      </select>
                    </span>
                </div>
              
                <div id="theme" class="w3-container w3-border settingstab" style="display:none">
                  <h2>Theme settings</h2>
                  <p>Piesowanie: nielegalne!!</p> 
                  <span>Select background colour: 
                    <select id='back-col'>
                      <option id='opt0' selected>Default</option>
                      <option id="opt1">Blue</option>
                      <option id="opt2">Yellow</option>
                      <option id="opt3">Dark</option>
                      <option id="opt4">White</option>
                    </select>
                  </span>
                    
                </div>
              
                
              </div>
              
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="save_settings">Save settings</button>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src='http://cdnjs.cloudflare.com/ajax/libs/qtip2/3.0.3/jquery.qtip.min.js'></script>

  <script>
      function openTab(evt, setTab) {
        var i, x, tablinks;
        x = document.getElementsByClassName("settingstab");
        for (i = 0; i < x.length; i++) {
          x[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablink");
        for (i = 0; i < x.length; i++) {
          tablinks[i].className = tablinks[i].className.replace("w3-cyan", "");
        }
        document.getElementById(setTab).style.display = "block";
        evt.currentTarget.className += " w3-cyan";
      }
      </script>
         <script> $(function () { $('span.post_number').click(function() {
            var data = $(this).map(function () {
            return $(this).text();
        }).get();
                $('textarea').each(function (i) {
                    var newValue = data[i];
                    var curValue = $(this).val();
                    newValue = newValue.slice(14);
                    var toAppend = curValue + '>>'+ newValue;
                    $(this).val(toAppend);

                });
        
            });
});</script>
 
<script>
  var innit = function (){
    var pre = $('pre');

for(let ele of pre){
let el = ele.innerHTML;
let lines = el.split("\n");
for(let line in lines){
   if(lines[line].search("&gt;&gt;") > -1){
       let words = lines[line].split(" ");
       for(let word in words){
           if(words[word].search("&gt;&gt;") === 0){
               let w = words[word].split("&gt;&gt;")[1]
               let toReplace = `&gt;&gt;${w}`;
               let replacement = `<a class='post_link' style='position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;' data-id="${w}" href="/obiadekchan/q/${w}">>>${w}</a><div class="quote_preview"     style="display: inline-flex; position: absolute; z-index:999;"></div>`;
               words[word] = words[word].replace(toReplace, replacement);
           }
       }
       lines[line] = words.join(" ");
   }else if(lines[line].search("&gt") === 0){
       lines[line] = `<span style="color: #789922;">${lines[line]}</span>`;
   }
}
el = lines.join("\n")
ele.innerHTML = el;
}  }
$(document).ready(innit);

 </script>
 
 <script>
 var init = function (){
  
  var sel = $('#back-col'),
      but = $('#save_settings');
  
      setBackgroundColor();
  var clearSelected = function(){
      sel.find(':selected').prop('selected', false);
  }
  
  if(localStorage.getItem('pref')){
    var pref = localStorage.getItem('pref');
    clearSelected();
    //set the selected state to true on the option localStorage remembers
    sel.find('#' + pref).prop('selected', true);
  }

  var setPreference = function(){
    //remember the ID of the option the user selected
    localStorage.setItem('pref', sel.find(':selected').attr('id'));
  };


  function setBackgroundColor(){

    var choice = localStorage.pref;
    switch(choice){
      case 'opt0':
      
      $('body').css('background-color','#DADADA');
      $('body').css('background-color','#DADADA');
      break;
      case 'opt1':
      $('body').css('background-color','blue');
      break;
      case 'opt2':
      $('body').css('background-color','yellow');
      break;
      case 'opt3':
      $('body').css('background-color','black');
      $('body').css('color','white');
      break;
      case 'opt4':
      $('body').css('background-color','white');
      break;
    }

  }
  
  var save = function(){
    setBackgroundColor();
  }
  
  sel.on('change', setPreference);
  but.on('click', save);
};
$(document).ready(init);
$(document).ready(save);
 
 
 
 </script>

 <script>

$(document).ready(function(){
        $('a.post_link').mouseenter(function() {
            var pid = $(this).data('id');
         $(this).next('div').load('http://127.0.0.1:8000/obiadekchan/ajax/posts/'+pid);
     });
     $('a.post_link').mouseleave(function() {
        $( this ).next( "div" ).empty();
     });
     $('#constainer').not('a.post_link').mouseenter(function(){  
$('a.post_link').next('div').empty();
 
  });
  })
 
 
 </script>
   <!-- x
  <script>
  $(document).ready(function(){
        $('a.post_link').mouseenter(function() { 
            var pid = $(this).data('id');
            var link = 'http://127.0.0.1:8000/obiadekchan/ajax/posts/'+pid;
            var tap = $(this).next('div')
            $.ajax({url: link, success: function(data){
              console.log(data)
              
              $(tap).html(data);
            }});

     });
     $('a.post_link').mouseleave(function() { 
        $( this ).next( "div" ).empty();
     });
     $('#constainer').not('a.post_link').mouseenter(function(){  
$('a.post_link').next('div').empty();

  });
  })

    </script>

       -->

            </body>
            </html>
        