{% load static %}
{%load obiadekchan_extras%}
<html>
        <head>
                <meta charset="utf-8">
                <meta http-equiv="X-UA-Compatible" content="IE=edge">
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
                <meta name="description" content="">
                <meta name="author" content="">
                <link rel="icon" href="../../favicon.ico">
                <link rel="canonical" href="https://getbootstrap.com/docs/3.4/examples/navbar-fixed-top/">
            <link rel="stylesheet" href="{% static 'css/styles.css' %}">
             <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

             <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
             <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
           
             <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
            {%block head%}
            <title>Obiadekchan</title>
            {%endblock%}
            <style>
            

                    body {margin:0;}
                    
                    ul {
                      list-style-type: none;
                      margin: 0;
                      padding: 0;
                      overflow: hidden;
                      background-color: #333;
                      position: fixed;
                      top: 0;
                      width: 100%;
                    }
                    
                    li {
                      float: left;
                    }
                    
                    li a {
                      display: block;
                      color: white;
                      text-align: center;
                      padding: 5px 8px;
                      text-decoration: none;
                    }
                    
                    li a:hover:not(.active) {
                      background-color: #111;
                    }
                    
                    .active {
                      background-color: #4CAF50;
                    }
                    </style>
                    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

        </head>
        <body>
                <ul class='nav'>
                        <li><a href="{% url 'obiadekchan:index' %} ">/b/</a></li>
                        <li><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#settingsModal">
                            Settings
                          </button></li>
                      </ul>
                      <br><br><br>
                      <div class='container'>
                        <center> 
                          {% with "baner.png,baner1.gif,baner2.gif,baner3.jpg,baner4.png"|split:","|random as image %}
                       <img src='{%static image %}' />
                        <h2>/b/ - random</h2>
                        {% endwith %}
                      </center>
                      </div>
                      <br>
                {%block body%}
                {%endblock%}
                <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>

<div class="modal fade" id="settingsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Settings</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="w3-container">
               
                <div class="w3-bar w3-black">
                  <button class="w3-bar-item w3-button tablink w3-cyan" onclick="openTab(event,'settings')">Site settings</button>
                  <button class="w3-bar-item w3-button tablink" onclick="openTab(event,'theme')">Theme settings</button>
                </div>
                
                <div id="settings" class="w3-container w3-border settingstab">
                  <h2>Site settings</h2>
                  <p>To be continued..</p>
                </div>
              
                <div id="theme" class="w3-container w3-border settingstab" style="display:none">
                  <h2>Theme settings</h2>
                  <p>Piesowanie: nielegalne!!</p> 
                </div>
              
                
              </div>
              
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save settings</button>
        </div>
      </div>
    </div>
  </div>

  <script>
      function openTab(evt, setTab) {
        var i, x, tablinks;
        x = document.getElementsByClassName("settingstab");
        for (i = 0; i < x.length; i++) {
          x[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablink");
        for (i = 0; i < x.length; i++) {
          tablinks[i].className = tablinks[i].className.replace("w3-cyan", "");
        }
        document.getElementById(setTab).style.display = "block";
        evt.currentTarget.className += " w3-cyan";
      }
      </script>

      

            </body>
            </html>